
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
    display: flex;
    gap: 30px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar .nav-links a:hover {
    color: #00fff2;
}

.navbar .cta-button {
    background-color: black;
    color: #00fff2;;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    border: solid;
    transition: background-color 0.3s ease;
}

.navbar .cta-button:hover {
    background-color: #00fff2;
    color: black;
}



             /*wallofsurf*/



        /* Hero Section */

        body{
            background-color: #0D0D0D;
        }

.hero {
    text-align: center;
    padding: 100px 0;
   
}

.hero h1 {
    font-size: 120px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.8);
}

.hero p {
    font-size: 35px;
    max-width: 600px;
    margin: 0 auto 20px auto;
    color: rgba(255, 255, 255, 0.6);
}


    /* Gallery Section */

.gallery {
    padding: 50px 0;
    background-color: #0D0D0D;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.gallery-grid img {
    width: 100%;
    border-radius: 5px;
}

     /* CTA Section */

.cta {
    
    padding: 50px 0;
    background-image: url('surf/images/65f6a06ece39e674fc0bdfd4_wave2-p-1600\ \(1\).webp');
    background-size: cover;
    background-position: center;
   
}

.cta h2 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.cta p {
    font-size: 18px;
    max-width: 600px;
    margin-bottom: 10px;
    margin-left: 30px;

}

.cta button{
   
    color: #00fff2;;
    padding: 10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    border: solid;
    margin-left: 30px;
    
}


